include *.txt
include *.md
include *.pkl
recursive-include ./classification_modell/*

include classification_modell/datasets/train.csv
include classification_modell/datasets/test.csv
include classification_modell/trained_models/*.pkl
include classification_modell/VERSION
include classification_modell/config.yml

include ./requirements/requirements.txt
include ./requirements/test_requirements.txt
exclude *.log
exclude *.cfg

recursive-exclude * __pycache__
recursive-exclude * *.py[co]